.corpo {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;


}

.algoritmo,
.paginacao{
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-around;

}


.botoes{
    display: flex;
    width: 100%;
    gap: 2em;
background-color: #fff;
}
form div{
    display: flex;
    gap: 1em;
}

.botao {
  width: 124px;
  height: 60px;
  fill: #d9d9d9;
  color: #242222;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(243, 240, 240, 0.959);
}
.botao:hover {
  background-color: rgb(211, 191, 219);
}

.quantum-sobrecarga {
  display: flex;
  justify-content: space-around;
}
.titulo {
  color: #fff;
  font-family: DM Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
