
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.App{
  background-color: #242222;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
}

main{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.firstSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondSection{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.botaoadicionar {
  
}

.title{
  color: white;
  padding-top: 10px;
}

.subtitle{
  color: white;
  text-align: start;
  font-weight: 500;
}

.boxProcess{
  display: flex;
  align-items: flex-start;
}

.plus{
  background-image: url('../../my-app/public/plus.png');
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.thirdSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.thirdSection button{
  text-transform: uppercase;
  border-radius: 0px;
  width:6em;
  height: 3em;
  font-weight: 700;
  font-size: 1em;
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
}