.App {
  background-color: #242222;
  height: 100%;
}

.App-header {
  text-align: center;
  background-color: #242222;
  height: 100vh;
  width: 100%;
}

.body{
  display: flex;
  grid-column: 2;
  justify-content: center;
  gap: 12rem;
  align-items: center;
  padding-top: 5rem;
}

.text{
  color: white;
  padding-top: 10px;
}

